header 
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{namePage}
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css",crossorigin="anonymus")
    link(rel="stylesheet", href="/css/app.css")
    link(rel="stylesheet", href="/css/normalize.css")
