<!DOCTYPE html>
html(lang="es")
    head 
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= namePage

            p Coloca tu nuevo password
            form.caja-login( method="POST")
                .campo 
                    label(for="password") password:
                    input(type="password"  name="password" placeholder="Nuevo Password" required=false ) 
                .campo.enviar
                    input.boton(type="submit" value="Restablecer Password")
             














