<!DOCTYPE html>
html(lang="es")
    head 
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= namePage
            if locals.mensajes 
                .alertas
                    each categorias in Object.keys(locals.mensajes)
                        each error in mensajes[categorias]
                            .alerta(class=`${categorias}`) 
                                p=error

            p Agrega Tu Email Para restablecer tu contraseña
            form.caja-login(action="/restablecer" method="POST")
                .campo 
                    label(for="email") E-Mail:
                    input(type="email"  name="email" placeholder="Tu Email" required=false ) 
                .campo.enviar
                    input.boton(type="submit" value="Restablecer Password")
                .campo.acciones 
                    a(href="/iniciar-sesion") Ya Acorde la contraseña
             














