doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 
        h2 Restablecer Password - UPTasks
        p Hola Buenas, has solicitado restablecer tu password, haz click en el siguiente enlace para restablecerlo 
        p Este enlace es temporal , por lo tanto tiene un venicmiento
        a(href=`${resetUrl}`)  Resetear Password 
        p Si no puedes acceder a este enlace visita #{resetUrl}
        p Si no solicitaste este Email, puede ignoratedess